.container-aside {
  border-right: 1px solid black;
  display: inline-block;
  height: 100%;
  position: fixed;
  text-align: center;
}

.container-aside > a {
  align-items: center;
  display: block;
  font-size: 1.2rem;
  margin: 15px;
}

img {
  height: 50px;
  width: 50px;
}
