.container-login {
  align-items: center;
  display: flex;
  flex: 1;
  font-family: Arial;
  justify-content: center;
  height: 100vh;
}

.container-auth {
  border-radius: 15px;
  border: 2px solid black;
  display: flex;
  height: max-content;
  flex-direction: column;
  padding: 25px;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .container-auth {
    border: none;
  }
}

.h1-login {
  font-size: 25px;
  margin-bottom: 20px;
}

.button-login button, .input-email, .input-password {
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0px 10px 5px;
  outline-style: none;
}

.input-email, .input-password {
  width: 15rem;
  height: 20px;
}

.button-login button {
  align-self: center;
  cursor: pointer;
  height: 3rem;
  width: 8rem;
  transition: background-color 0.2s ease-in;
}

.button-login button:hover {
  border: none;
  box-shadow: 1px 1px 5px 1px black;
}

.button-register:hover {
  background-color: #FF6666;
}

.button-logIn:hover {
  background-color: lightgreen;
}

.login-forgotPass {
  margin-top: 10px;
  transition: color 0.2s ease-in;
}

.login-forgotPass, .login-forgotPass:visited, .login-forgotPass:link {
  text-decoration: none;
  color: black;
}

.login-forgotPass:hover {
  color: #FF6666;
}

