.container-login {
  align-items: center;
  display: flex;
  flex: 1;
  font-family: Arial;
  justify-content: center;
  height: 100vh;
}

.container-auth {
  border-radius: 15px;
  border: 2px solid black;
  display: flex;
  height: max-content;
  flex-direction: column;
  padding: 25px;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .container-auth {
    border: none;
  }
}

.button-login, #email, #password {
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline-style: none;
}

#email, #password {
  width: 15rem;
  height: 20px;
}

.button-login {
  align-self: center;
  cursor: pointer;
  height: 3rem;
  width: 8rem;
  transition: background-color 0.2s ease-in;
}

.button-login:hover {
  background-color: lightgreen;
  border: none;
  box-shadow: 1px 1px 5px 1px black;
}

.h1-login {
  font-size: 25px;
  margin-bottom: 20px;
}