.container-login {
  display: flex;
  flex: 1;
  justify-content: center;
  font-family: Arial;
  height: 100vh;
  align-items: center;
}

.container-auth {
  border-radius: 15px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding: 25px;
  text-align: center;
  height: max-content;
}

@media only screen and (max-width: 500px) {
  .container-auth {
    border: none;
  }
}

.button-login, #email, #password {
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline-style: none;
}

#email, #password {
  width: 15rem;
  height: 20px;
}

.button-login {
  width: 8rem;
  height: 3rem;
  align-self: center;
}

.h1-login {
  margin-bottom: 20px;
  font-size: 25px;
}