.container-new-user {
  display: flex;
  flex: 5;
  flex-direction: column;
}

.content-form-user {
  flex: 5;
}

.content-new-event-form {
  padding: 5px;
}

.container-form {
  padding: 5px;
}

.input-text, .input-select {
  
}

.form-label-input, .handle-steps-button > a, .handle-steps-button > button {
  
}

.input-text, .input-select, .form-label-input, .handle-steps-button > a, .handle-steps-button > button {
  border-radius: 5px;
}