.container-header {
  align-items: center;
  border-bottom: 1px solid black;
  display: flex;
  flex: 1;
  height: 20%;
}

.container-header > h1 {
  align-content: center;
  flex: 1;
  font-size: 150%;
  text-align: center;
}