#root {
  height: 100vh;
  width: 100vw;
}

.container-home {
  display: flex;
  height: 100%;
}

.container-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}