#root {
  height: 100vh;
  width: 100vw;
}

.container-menu {
  display: flex;
  height: 100%;
}

.container-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}


.container-content {
  display: flex;
  flex-direction: column;
  width: 100%;
 }

 .container-header {
   display: flex;
 }

 .container-eventList {
   display: flex;
   flex: 7;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: flex-start;
 }