.container-eventList, .container-eventLoading {
  display: flex;
  flex: 5;
  flex-direction: row;
  flex-wrap: wrap;
}

 .container-eventList {
  align-content: flex-start;
  justify-content: space-evenly;
}

.container-eventLoading {
  align-content: center;
  justify-content: center;
}